name: Auto assign

on:
  issues:
    types: [opened, reopened]
  pull_request_target:
    types: [opened, reopened, ready_for_review]

permissions:
  issues: write
  pull-requests: write

jobs:
  assign:
    runs-on: ubuntu-latest
    steps:
      - name: Add assignee
        uses: actions/github-script@v7
        with:
          script: |
            const assignees = ['zhukeev'];
            const issue_number = context.payload.pull_request
              ? context.payload.pull_request.number
              : context.issue.number;
            const { owner, repo } = context.repo;

            await github.rest.issues.addAssignees({
              owner,
              repo,
              issue_number,
              assignees,
            });
